/*global styles*/
body{
    background-color: black;
    color:aliceblue;
    font-family:fantasy;
}
header{
   border-bottom: 1px solid;
    height: 70px;
    display:flex;
    justify-content: space-between;
    padding: 0 100px;
    text-align: center;
}
.banner{
    background-image: url(images/banner.jpg);
}