/*banner styles*/
body,html{
    height: 100%;
}
.banner{
    height: 50%;
    background-image:url(/images/banner.jpg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content{
    text-align: center;
    font-size:xx-large;
    position:absolute;
    top:25%;
    left:50%;
    color: white;
}
